{% extends "patient/card/card_base.html.twig" %}

{% macro appointmentDetail(appointment) %}
    {% set a = appointment %}
    <div class="list-group-item p-1" style="background-color: {{ a.bgColor|text }};">
        <div class="d-flex w-100 justify-content-between">

           <div title='{{ a.etitle|text }}'> {# ALB Added this for mouseover #}
            
                {% if a.pc_eventDate >= "now"|date("Y-m-d") %} {# ALB I changed this and below at /a tag not to allow past appointments to be changed #}
                <a href="#" onclick="return oldEvt({{ a.jsEvent }})">
                {% endif %}

                <div style='font-weight:bold'>
                  {{ a.dayName|xlt }},
                  {{ a.pc_eventDate|shortDate|text }}
                  ({{ a.pc_status|text }})
                </div>
                <div>
                    {{ a.pc_eventTime|text }}&nbsp;{{ a.displayMeridiem|xlt }} {{ a.pc_catname|xlt }}
                </div>
                <div>
                    {% if a.pc_recurrtype %}&nbsp;<i class="fa fa-retweet"></i>{% endif %}
                </div>
                <div>
                    {{ a.uname|text }}
                </div>
                <div>
                   {# ALB Added this #}
                   {{ a.facility_nickname|text }}

                </div>
                    {% if a.pc_eventDate >= "now"|date("Y-m-d") %}
                </a>
                {% endif %}
                
            {# ALB Don't need this <small class="text-right">
                {{a.pc_hometext }}
            </small> #}
          </div> {# ALB Mouseover #}
        </div>
    </div>
{% endmacro %}

{% macro additionalAppointment(appointmentDate) %}
    <div class="list-group-item p-1">
        <div class="m-0 pt-2 d-block w-100 text-muted text-center">
            {{ appointmentDate|text }}&nbsp;(+)
        </div>
    </div>
{% endmacro %}

{% macro sectionHeader(title, iconClasses) %}
    <div class="list-group-item pl-0 pb-1 border-bottom-0">
        <div class="text-dark font-weight-bolder">
            <i class="fa fa-fw {{ iconClasses }}"></i>&nbsp;{{ title|text }}
        </div>
    </div>
{% endmacro %}

{% macro noItems(text) %}
    <div class="list-group-item text-center">
        {{ text|text }}
    </div>
{% endmacro %}

{% block content %}
<div class="list-group list-group-flush appts">

{% if displayAppts %}
    {{ _self.sectionHeader("Future Appointments"|xl, "fa-history fa-flip-horizontal")}}
    {% if appts|length > 0 %}
        {% for a in appts %}
            {{ _self.appointmentDetail(a)}}
        {% endfor %}
        {% if extraApptDate %}
            {{ _self.additionalAppointment(extraApptDate) }}
        {% endif %}
    {% else %}
        {{ _self.noItems("No Appointments"|xl)}}
    {% endif %}
{% endif %}

{% if displayRecurrAppts %}
    {{ _self.sectionHeader("Recurring Appointments"|xl, "fa-retweet")}}
    {% if recurrAppts|length > 0 %}
        {% for r in recurrAppts %}
            <div class="list-group-item p-1">
                <h6>{{ r.pc_title|text }}</h6>
                <div class="text-muted">{{ r.pc_recurrspec|text }} {{ "until"|xlt }}&nbsp;{{ r.pc_endDate|text }}</div>
            </div>
        {% endfor %}
    {% else %}
        {{ _self.noItems("No Recurring Appointments{{Appointments}}"|xl)}}
    {% endif %}
{% endif %}

{% if displayPastAppts %}
    {{ _self.sectionHeader("Past Appointments"|xl, "fa-history")}}
    {% if pastAppts|length > 0 %}
        {% for pa in pastAppts %}
            {{ _self.appointmentDetail(pa) }}
        {% endfor %}
    {% else %}
        {{ _self.noItems("No Past Appointments{{Appointment}}"|xl)}}
    {% endif %}
{% endif %}

</div>
{% endblock %}
